body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  flex-direction: column;
  padding-bottom: 10%;
}

img {
  width: 300px;
  height: 100vh;
}

.widget-container {
  width: 50rem;
  padding: 10%;
}

